﻿
@{
    ViewBag.Title = "PayBill";
}

@section scripts
{
    <script>
        angular.module("MainApp", ["ngMaterial", "ngMessages"])
            .controller("MainCtrl", ["$http", function ($http) {
                common.log("angular");
            }]);
    </script>

}


<div ng-module="MainApp" ng-controller="MainCtrl as ctrl" style="padding-top: 50px">
    <br />
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse">測試網頁</a>
            </h4>
        </div>
        <div id="collapse" class="panel-collapse collapse in">
            <div class="panel-body">

                <form class="form-horizontal" role="form" action="@Url.Action("SpgatewayPayBill", "Bank")" method="POST">

                    <div class="row">
                        <div class="col-md-12">
                            <md-input-container class="md-block">
                                <label>訂單編號</label>
                                <input type="text"
                                       class="form-control"
                                       required="required"
                                       name="orderNumber"
                                       maxlength="20">
                            </md-input-container>
                        </div>

                        <div class="col-md-12">
                            <md-input-container class="md-block">
                                <label>訂單金額</label>
                                <input type="text"
                                       class="form-control"
                                       required="required"
                                       name="amount">
                            </md-input-container>
                        </div>
                        <div class="col-md-12">
                            <md-input-container>
                                <label>請款類型</label>
                                <md-select name="payType" ng-model="payType">
                                    <md-option value="CREDIT">信用卡</md-option>
                                    <md-option value="WEBATM">WEBATM</md-option>
                                    <md-option value="VACC">ATM 轉帳</md-option>
                                    <md-option value="CVS">超商代碼繳費</md-option>
                                    <md-option value="BARCODE">超商條碼繳費</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-success">
                                確定
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
