﻿
@{
    ViewBag.Title = "Test";
}

@section scripts
{

    <style>
        /*解決 md-select選取時,scrollbar會移到top問題*/
        body {
            height: auto;
        }

        /*body[style] {
            position: static !important;
            top: inherit !important;
            width: inherit !important;
        }*/
    </style>


    <script>
        var bag = {
            SpgatewayCloseUrl: '@Url.Content("~/Bank/SpgatewayClose")'
        };

        angular.module("SpgatewayApp", ["ngMaterial", "ngMessages"])
            .controller("SpgatewayCtrl", ["$http", function ($http) {
                common.log("angular");

                var ctrl = this;

                var postUrl = function (url, model) {
                    $http.post(url, model).then(
                        function (response) {

                            common.log(response);

                            var ret = response.data;
                            if (!ret) {
                                common.Alert("發生錯誤");
                            }
                            else if (ret.IsSuccess) {
                                common.Alert({
                                    title: "Success",
                                    message: ret.Message
                                });
                            }
                            else {
                                common.Alert({
                                    title: "失敗",
                                    message: ret.Message
                                });
                            }

                        },
                        function (errResponse) {
                            common.log(errResponse);
                        });
                };

                ctrl.CloseData = {

                };

                // (取消)請退款
                ctrl.close = function () {
                    common.log("ctrl.close");
                    postUrl(bag.SpgatewayCloseUrl, ctrl.CloseData);
                };

            }]);

    </script>
}


<div style="padding-top: 50px">

    <br />
    <h2>智付通</h2>
    <div class="panel-group" id="accordionSpgateway" ng-module="SpgatewayApp" ng-controller="SpgatewayCtrl as ctrl">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordionSpgateway" href="#collapseSpgateway2">(取消)請退款</a>
                </h4>
            </div>
            <div id="collapseSpgateway2" class="panel-collapse collapse in">
                <div class="panel-body">
                    <form class="form-horizontal" role="form" ng-submit="ctrl.close()">

                        <div class="row">

                            <div class="col-md-12">
                                <md-input-container class="md-block">
                                    <label>商店訂單編號</label>
                                    <input type="text"
                                           class="form-control"
                                           required="required"
                                           ng-model="ctrl.CloseData.MerchantOrderNo"
                                           maxlength="20">
                                </md-input-container>
                            </div>

                            <div class="col-md-12">
                                <md-input-container class="md-block">
                                    <label>訂單金額</label>
                                    <input type="text"
                                           class="form-control"
                                           required="required"
                                           ng-model="ctrl.CloseData.Amt">
                                </md-input-container>
                            </div>

                            <div class="col-md-12">
                                <md-input-container>
                                    <label>類型</label>
                                    <md-select ng-model="ctrl.CloseData.ExeType">
                                        <md-option value="DepositReversal">取消請款</md-option>
                                        <md-option value="Refund">退款</md-option>
                                        <md-option value="RefundReversal">取消退款</md-option>
                                    </md-select>
                                </md-input-container>
                            </div>

                            <div class="col-md-12">
                                <button type="submit" class="btn btn-success">
                                    確定
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_Alert")